header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999999;
    padding: 20px;
    background: transparent;
    backdrop-filter: blur(12px);
    box-sizing: border-box;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    transition: all 0.5s ease;
}

header.show {
    transform: translateY(0) /* display the header scrolling up */
}

header.hide {
    transform: translateY(-100%) /* hide at the top when scrolling down */
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

header nav .logo img {
    height: 120px;
    width: 120px;
    object-fit: cover
}


header nav .nav-links {
    display: flex;
    align-items: center;
    gap: 12px;
}


header nav .nav-links a {
    font-size: 14px;
}


header nav .nav-links a:hover {
    color: #c87cff;
    text-decoration: underline;
    transform: translateY(-2px)
}


header nav .mobile-menu {
    display: none;
}


