.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    will-change: transform;
    backdrop-filter: blur(12px);
    background-color: #000000;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.65);
    /* position: sticky; */
    position: fixed;
    top: 0;
    z-index: 1000;
}

.navbar .logo a {
    font-size: 1.75rem;
    font-weight: 700;
    /* color: #6A0DAD; */
    color: #c87cff;
}

.navbar .nav-links {
    display: flex;
    gap: 2rem;
}


.navbar .nav-links a {
    font-size: 1rem;
    font-weight: 500;
    /* color: #222; */
    color: #fff;
    transition: color 0.3s ease, transform 0.3s ease;
}


.navbar .nav-links a:hover {
    color: #c87cff;
    transform: translateY(-2px);
}


/* CTA Button */
.navbar .btn-primary {
    background-color: #c87cff;
    margin-right: 3rem;
    color: #000;
    font-size: 1.125rem;
    padding: 0.6rem 1.5rem;
}


.navbar .btn-primary:hover {
    background-color: #9b33e0;
    transform: translateX(-2px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

/*  Initiall hide the hamburger icon */
.navbar .hamburger-icon {
    display: none;
}



/* Mobile Responsive styles */
.navbar .mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 70%;
    height: 100%;
    background-color: #1a001f;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 1.2rem;
    color: #fff;
    box-shadow: -2px 0 12px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(12px);
    background: rgba(26, 0, 31, 0.95);
    text-decoration: none;
    transition: color 0.3s ease transform 0.3s ease;
    z-index: 999;
}


.navbar .mobile-menu a {
    display: block;
    /* padding: 0.5rem 0; */
    /* font-size: 1.25rem; */
    color: #fff;
    text-decoration: none;
}
.navbar .mobile-menu a:hover {
    color: #c87cff; /* Bright purple on hover */
    transform: translateY(-2px)
}


@media (max-width: 768px) {
    .navbar .nav-links {
        display: none
    }

    .navbar .hamburger-icon {
        display: block;
        cursor: pointer
    }

    .navbar .close-nav {
        position: absolute;
        top: 20px;
        right: 10px;
        z-index: 1000
    }
}

